/* GraphComponent.scss */
.graph-container {
    height: 400px;
    background: #f0f0f0;
    transition: all 0.3s ease-in-out;
  }
  @media (max-width: 768px) {
    .graph-container {
      height: 300px;
    }
  }
  
.headings{
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-right: 94px;

}
.heading-p {
  margin-right: 225px;
   margin-top:-13px;
   margin-bottom:35px
}