.bar-graph {
    /* height: auto;2200 */
    /* width: auto; */
    transition: all 0.3s ease-in-out;
  }
  @media (max-width: 700px) {
    .graph-container {
      /* height: auto; */
      display: flex;
      flex-direction: column;
    }
  }
  
.graph-container {
  display: flex;
}
.next-graph{
  /* height: 100px; */
  width: 200px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 700px) {
  .negative-barChart{
    padding-top: 32px;
    width: 232%;
  }
}

.negative-barChart{
  width: 200%;

}
.data-points-inputs{
  display: flex;
  flex-direction: row;
  padding: 5px;
}