/* PageLayout.css */
.page-layout {
  min-height: 100vh;
}
.page-layout .header {
  background: #fff;
  text-align: center;
  /* padding: 10px; */
}
.page-layout .main-layout {
  display: flex;
  flex-direction: row;
}
.page-layout .main-layout .content {
  flex: 1;
  padding: 20px;
}
.page-layout .main-layout .content .graph-container {
  height: 400px;
  background: #f0f0f0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .page-layout .main-layout .content .graph-container {
    height: 300px;
  }
}
.page-layout .main-layout .sidebar {
  background: #f0f0f0;
  padding: 10px;
}
@media (max-width: 768px) {
  .page-layout .main-layout .sidebar {
    width: 30%;
  }
}
